<template>
  <button class="button" @click="$emit('click', $event)">
    <img v-if="icon" class="button-icon" :src="iconPath" />
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: ['icon'],
  computed: {
    iconPath() {
      return require(`../assets/images/icon/${this.icon}.svg`);
    },
  },
};
</script>

<style scoped>
.button {
  position: relative;
  display: block;
  padding: 16px 0;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  /* max-width: 320px; */
  margin: 0 auto 16px;
  border-radius: 2px;
  background-color: #e02c23;
  border: none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  cursor: pointer;
}

.button .button-icon {
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translate(-50%, -50%);
}
.button:active {
  background-color: #e93f36;
}
.button[disabled] {
  opacity: 0.5;
  background-color: #e02c23;
}
</style>  