<template>
  <label class="checkbox-wrapper pure-material-checkbox">
    <input type="checkbox" :value="value" @input="changeValue($event.target.checked)" />
    <span>{{label}}</span>
  </label>
</template>

<script>
export default {
  props: ['value', 'label'],
  methods: {
    changeValue(value) {
      this.$emit('input', value);
    },
  },
};
</script>

<style scoped>
.pure-material-checkbox {
  z-index: 0;
  position: relative;
  display: block;
  color: #cdcdcd;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  box-sizing: content-box;
}

/* Input */
.pure-material-checkbox > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.pure-material-checkbox > span {
  display: inline-block;
  position: relative;
  line-height: 20px;
  width: 100%;
  cursor: pointer;
  padding-left: 24px;
}

/* Box */
.pure-material-checkbox > span::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 2px;
  border: solid 2px; /* Safari */
  border-color: #cdcdcd;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.pure-material-checkbox > span::after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 8px;
  height: 4px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.pure-material-checkbox > input:checked,
.pure-material-checkbox > input:indeterminate {
  background-color: #e02c23;
}

.pure-material-checkbox > input:checked + span::before,
.pure-material-checkbox > input:indeterminate + span::before {
  border-color: #e02c23;
  background-color: #e02c23;
}

.pure-material-checkbox > input:checked + span::after,
.pure-material-checkbox > input:indeterminate + span::after {
  border-color: #fff;
}

.pure-material-checkbox > input:indeterminate + span::after {
  border-left: none;
  transform: translate(4px, 3px);
}

.pure-material-checkbox > input:checked + span {
  color: #e02c23;
}

/* Disabled */
.pure-material-checkbox > input:disabled {
  opacity: 0;
}

.pure-material-checkbox > input:disabled + span {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  cursor: initial;
}

.pure-material-checkbox > input:disabled + span::before {
  border-color: currentColor;
}

.pure-material-checkbox > input:checked:disabled + span::before,
.pure-material-checkbox > input:indeterminate:disabled + span::before {
  border-color: transparent;
  background-color: currentColor;
}
</style>