<template>
  <div class="input-wrapper">
    <input
      type="text"
      class="input"
      :placeholder="placeholder"
      :value="value"
      @input="changeValue($event.target.value)"
    />
    <img v-if="value" src="../assets/images/icon/input-close.svg" class="close-icon" />
  </div>
</template>

<script>
export default {
  props: ['value', 'placeholder'],
  methods: {
    changeValue(value) {
      this.$emit('input', value);
    },
  },
};
</script>

<style scoped>
.input-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto 16px;
}
.input {
  display: block;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  /* max-width: 320px; */
  border-radius: 2px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #cccccb;
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

.input::placeholder {
  color: #8e8e8e;
}
.input:focus {
  outline: none;
  border: solid 1px #b30016;
}
.close-icon {
  display: none;
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translate(50%, -50%);
  cursor: pointer;
}
.input:focus + .close-icon {
  display: block;
}
</style>