<template>
  <div class="main-view">
    <img class="main-logo" src="../assets/images/logo/sptrans.svg" />
    <p class="welcome-text">
      Welcome to free Wi-Fi.
      <br />Please indentify via:
    </p>
    <ui-button @click="$router.push('/step1')" icon="mail">E-mail</ui-button>
    <ui-button @click="$router.push('/step1')" icon="facebook">Facebook</ui-button>
  </div>
</template>

<script>
import UiButton from '../ui/UiButton.vue';
export default {
  name: 'MainView',
  components: {
    UiButton,
  },
};
</script>

<style scoped>
.main-logo {
  display: block;
  margin: 32px auto 90px;
}
.welcome-text {
  line-height: 1.5;
  margin-bottom: 24px;
  text-align: center;
  font-weight: 400;
}
.button {
  position: relative;
  display: block;
  padding: 16px 0;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  max-width: 320px;
  margin: 0 auto 16px;
  border-radius: 2px;
  background-color: #e02c23;
  border: none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.button .button-icon {
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translate(-50%, -50%);
}
</style>