<template>
  <form class="step2">
    <p class="heading">
      <span class="form-heading">Complete the form</span>
      <span class="step-heading">Step 2 of 2</span>
    </p>
    <ui-input placeholder="(XX) 12345-6789" v-model="name" />
    <ui-input placeholder="CPF" v-model="email" />
    <ui-check-box v-model="agree" label="Agree the terms of use" />
    <ui-button class="next-btn" disabled @click.prevent="$router.push('/step2')">Complete</ui-button>
  </form>
</template>

<script>
import UiButton from '../ui/UiButton.vue';
import UiInput from '../ui/UiInput.vue';
import UiCheckBox from '../ui/UiCheckBox.vue';
export default {
  components: {
    UiButton,
    UiInput,
    UiCheckBox,
  },
  data() {
    return {
      name: '',
      email: '',
      agree: false,
    };
  },
};
</script>

<style scoped>
.step2 {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.heading {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}
.form-heading {
  font-weight: 500;
}
.step-heading {
  color: #cececd;
}
.next-btn {
  margin-top: auto;
}
</style>