<template>
  <form class="step1">
    <p class="heading">
      <span class="form-heading">Fill the form</span>
      <span class="step-heading">Step 1 of 2</span>
    </p>
    <ui-input placeholder="Full name" v-model="name" />
    <ui-input placeholder="E-mail" v-model="email" />
    <ui-button class="next-btn" @click.prevent="$router.push('/step2')">Next step</ui-button>
  </form>
</template>

<script>
import UiButton from '../ui/UiButton.vue';
import UiInput from '../ui/UiInput.vue';
export default {
  components: {
    UiButton,
    UiInput,
  },
  data() {
    return {
      name: '',
      email: '',
    };
  },
};
</script>

<style scoped>
.step1 {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.heading {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}
.form-heading {
  font-weight: 500;
}
.step-heading {
  color: #cececd;
}
.next-btn {
  margin-top: auto;
}
</style>