<template>
  <main-layout>
    <router-view />
  </main-layout>
</template>

<script>
import MainLayout from './layout/MainLayout.vue';
export default {
  components: {
    MainLayout,
  },
};
</script>

<style>

</style>
