@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
