<template>
  <div class="main-layout">
    <main-header></main-header>
    <div class="content">
      <slot></slot>
    </div>
    <div class="footer">
      © 2019 InteliFi -
      <a href="#">Terms of Service</a>
    </div>
  </div>
</template>

<script>
import MainHeader from './MainHeader.vue';
export default {
  components: {
    MainHeader,
  },
};
</script>

<style scoped>
.main-layout {
  max-width: 420px;
  min-height: 420px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 0;
  padding: 0 24px;
  min-width: 300px;
}
.footer {
  flex-shrink: 0;
}
.footer {
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  color: #aaa9ab;
  padding: 8px 24px;
}
.footer a {
  color: #aaa9ab;
}
</style>
