<template>
  <div class="header">
    <a v-if="!isMainView" href="#" @click.prevent="$router.go(-1)" class="header-btn">
      <img class="header-btn-img" src="../assets/images/icon/arrow.svg" />
    </a>
    <img v-if="!isMainView" class="header-logo" src="../assets/images/logo/sptrans.svg" />
    <a href="#" class="header-btn info-btn">
      <img class="header-btn-img" src="../assets/images/icon/i.svg" />
    </a>
    <div class="header-flag">
      <img class="header-flag-img" src="../assets/images/flag/eng.svg" />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isMainView: false,
    };
  },
  watch: {
    $route: {
      handler: 'checkIsMainView',
      immediate: true,
    },
  },
  methods: {
    checkIsMainView() {
      this.isMainView = this.$route.name === 'MainView';
    },
  },
};
</script>

<style scoped>
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
}
.header-btn,
.header-flag {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}
.header-btn-img:hover,
.header-flag-img:hover {
  opacity: 0.9;
}
.header-btn-img,
.header-flag-img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 24px;
  transform: translate(-50%, -50%);
}
.header-flag {
  width: 34px;
  cursor: pointer;
}
.header-flag-img {
  height: 16px;
}
.header-flag-img:hover {
  opacity: 0.9;
}
.info-btn {
  margin: 0 8px 0 auto;
}
</style>